@model Book

@{
    ViewData["Title"] = "Book Detail";
}

<div class="row justify-content-center">
    <div class="col-lg-5 col-sm-8 card pt-3 card-item">

        <h3 class="text-center">@Model.Name</h3>

        @if (!String.IsNullOrEmpty(Model.Author))
        {
            <div class="detail-entry">
                <span class="font-weight-bold">Author: </span>
                <span>@Model.Author</span>
            </div>
        }
        <div class="detail-entry">
            <span class="font-weight-bold">Number of Pages: </span>
            <span>@Model.NumberOfPages</span>
        </div>

        @if (!String.IsNullOrEmpty(Model.Note))
        {
            <div class="font-weight-bold detail-entry">Notes: </div>
            <div class="card detail-note bg-light">@Model.Note</div>
        }

        <div class="mt-2">
            <a class="icon-link" title="Edit"
               asp-controller="Book"
               asp-action="Edit"
               asp-route-id="@Model.BookId">
                <i class="far fa-edit"></i>
            </a>
            <a class="icon-link" title="Delete"
               asp-controller="Book"
               asp-action="DeletePreview"
               asp-route-id="@Model.BookId">
                <i class="fas fa-trash"></i>
            </a>
        </div>

        <a class="mb-1 mt-1"
           asp-controller="Book"
           asp-action="Logs"
           asp-route-id="@Model.BookId"
           asp-route-bookName="@Model.Name">View Logs</a>

        <a class="mb-2"
           asp-controller="ReadLogs"
           asp-action="Create"
           asp-route-bookId="@Model.BookId"
           asp-route-bookName="@Model.Name">Add Log</a>
    </div>
</div>
